<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>

<p>@user_authenticated: <%= @user_authenticated  %></p>

<p>is_member of UCSB-CS56-W15: <%= @is_member_w15 %></p>
<p>is_member of UCSB-CS56-F16: <%= @is_member_f16 %></p>

<p>@emails:</p> 

<ul>
  <% @emails.each do |element| %>
  <li>email: <%= element.to_json %></li>
  <% end %>
</ul>

<p>@organizations: </p> 

<ul>
  <% @organizations.each do |element| %>
  <li>organization: <%= element.to_json %></li>
  <% end %>
</ul>




<p>@github_user.to_json: <%= @github_user.to_json if @github_user%></p>
